.nav {
    grid-area: n;
    background-color: mediumvioletred;
    padding: 10px;
}

.item {
    color: red;
    font-size: 30px;
}
.item a.activeLink {
    color: greenyellow;
    font-size: 30px;
}

a {
    color: white;
    text-decoration: none;
    padding-left: 10px;
}

